<!-- Shared Purchase Modal - Available on all pages -->
<div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content" x-data="addPurchaseForm()">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="purchaseModalLabel">
                    <i :class="isEditMode ? 'bi bi-pencil-circle' : 'bi bi-plus-circle'" class="text-primary me-2"></i>
                    <span x-text="isEditMode ? 'Edit Purchase' : 'Add New Purchase'"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('purchase-form.ejs') %>
            </div>
            <div class="modal-footer border-top">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" @click="savePurchase()">
                    <i class="bi bi-check-lg me-1"></i> <span x-text="isEditMode ? 'Update Purchase' : 'Save Purchase'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
